<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreAdminMapper">

		<insert id="insert">
		INSERT INTO STORE_INFOR s
		(
			NAME
			, ADDRESS
			, ADDRESS_DETAIL
			, STORE_CATEGORY_NO
			, COMPANY_RESTRATION_NUMBER
			, BUSINESS_REGISTRATION_CERTIFICATE_IMG
		) 
		SELECT
		    #{name} AS NAME,
		    #{address} AS ADDRESS,
		    #{addressDetail} AS ADDRESS_DETAIL,
		    #{storeCategoryNo} AS STORE_CATEGORY_NO,
		    m.company_registration_number AS COMPANY_REGISTRATION_NUMBER,
		    #{businessRegistrationCertificateImg} AS BUSINESS_REGISTRATION_CERTIFICATE_IMG
		FROM MEMBER_STORE_OWNER m
		WHERE m.NO = #{no}
	</insert>

</mapper>











