body {
    background-color: rgb(247, 237, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jua", sans-serif;
    font-weight: 500;
    font-style: normal;
}



aside {
    background-color: white;
    width: 200px;
    padding: 20px;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li a {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}

main h2 {
    color: #333;
}

aside {
    background-color: #f0f0f0;
    width: 200px;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0; /* 추가 */
}

main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 240px; /* aside 너비 + 여백 크기만큼 오른쪽으로 이동 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}

input[type="text"], select, input[type="date"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #15181c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #8aacd0;
}
.delete-Button:hover{
    background-color: #c21212;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-block {
    display: none; /* 초기에는 숨겨져 있음 */
    position: fixed; /* 화면 고정 위치 */
    top: 300px; /* 원하는 위치로 조정 */
    left: 50%; /* 가운데 정렬을 위해 사용 */
    transform: translateX(-50%); /* 가운데 정렬 */
    width: 500px; /* 원하는 너비로 조정 */
    padding: 20px; /* 내부 여백 */
    background-color: #dddcf0; /* 배경색 */
    border: 1px solid #67558f; /* 테두리 */
    border-radius: 5px; /* 모서리 둥글게 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.detail-delete {
    display: flex;
    justify-content: flex-end;
}