body {
  background-color: rgb(236, 206, 227);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*  배민 앱은 content에요 */
.content{
  width: 515px;
  height: 100vh;
  background-color:rgb(255, 255, 255);

  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
}
/* 고정 상단바 입니다 */
header{
  position: fixed;

  width: 515px;
  height: 70px;
display: grid;
grid-template-rows: 1.5fr 1fr;
}
/* 제일 위 고정 상단이 header이고 
윗 상단바의 첫번째 디브 */
header > div:nth-child(1){
background-color:white;
display: grid;
grid-template-columns: 0.5fr 7fr 1fr ;

padding-bottom: 0px;
}

h2{
  text-align: center;

}


/* 맨 밑의  검색,장바구니,찜,주문내역, my배민 클릭할 수 있는 하단바 입니다 */
footer{
  position: fixed;
  margin: 10px;
width: 493px;
height: 45px;
bottom:1px;
background-color: rgb(42,193,188);
border-radius: 8px;
}



/* 홈이미지 버튼이에요 */
.right-bar,.back-img{
  margin-top: 16px;
  margin-left: 5px;
  width: 35px;
  height: 35px;
}

/* 상단바에서 뒤로가기버튼   */
.left-bar :nth-child(1){
width: 20px;
height: 30px;
}
/* 뒤로가기버튼 옆에 이 페이지의 제목을 담당 */
.top-bar-name{
  margin-top: 14px;
  margin-left: 0px;
  width: 60x;
  height: 30px;
}

/* 메인페이지----------------------------- */

main{

      margin-top: 90px;
      display : grid;
    }

.main-div{

  border:1px solid  rgb(216, 211, 211);
  background-color: white;
  border-radius: 10px;
  margin-bottom : 10px;
  margin-left: 9px;
  margin-right : 9px;
}

.margin-left{
  margin-left:15px;
}

.small-text{
  color : rgb(143, 136, 136)
}

.blue-font{
  color : rgb(44, 105, 218);
}

.payment-font{
  color : white;
  font-size : 15px;
  font-family: "Jua", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
}


footer img{
  width: 33px;
  height: 27px;
  margin-left: 32px;
}

footer span{
  font-size: 12px;
  margin-left: 28px;
}



.request-block {
  display: none; /* 초기에는 숨겨져 있음 */
  position: fixed; /* 화면 고정 위치 */
  top: 200px; /* 원하는 위치로 조정 */
  left: 50%; /* 가운데 정렬을 위해 사용 */
  transform: translateX(-50%); /* 가운데 정렬 */
  width: 478px; /* 원하는 너비로 조정 */
  height : 250px;
  padding: 20px; /* 내부 여백 */
  background-color: #e3e3e7; /* 배경색 */

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.request-button{
  position: fixed;
  margin: 10px;
  width: 150px;
  height: 30px;
  bottom:1px;
  background-color: rgb(42,193,188);
  
  color : white;
  font-size : 15px;
  font-family: "Jua", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center;
  border: 1px solid rgb(42,193,188); /* 테두리 */
  border-radius: 5px; /* 모서리 둥글게 */
}

.request-button:hover{
  cursor : pointer;
}

.request-delete{
  display: flex;
  justify-content: flex-end;
}

.request_msg{
  background-color: #e3e3e7;
  border : 0.1px solid;
  width : 400px;
  height : 200px;
}

.paymentRequest:hover{
  cursor : pointer;
}
