<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

    <insert id="join">
        INSERT INTO MEMBER_USER
        (
            NO,
            ID,
            PWD,
            NICK,
            PROFILE,
            NAME,
            PHONE,
            ADDRESS,
            ADDRESS_DETAIL,  
            GENERATION,
            GENDER,
            ACCOUNT_BALANCE
        ) 
        VALUES
        (
            SEQ_MEMBER_USER_NO.NEXTVAL,
            #{id},
            #{pwd},
            #{nick},
            #{profile},
            #{name},
            #{phone},
            #{address},
            #{addressdDetail},  
            #{generation},
            #{gender},
            0
        )
    </insert>

    <!-- 로그인 -->
    <select id="login" resultType="com.kh.app.baemin.member.vo.MemberVo">
        SELECT id, pwd
        FROM MEMBER_USER
        WHERE id = #{id} AND pwd = #{pwd}
    </select>

    <!-- 중복된 아이디 개수를 반환하는 쿼리 -->
    <select id="idCheck" resultType="int">
        SELECT COUNT(*) FROM MEMBER_USER WHERE id = #{id}
    </select>

    <insert id="reviewStatus">
        INSERT INTO DELEVERY_PROBLEM (
            NO,
            DELEVERY_PROBLEM
        )
        VALUES (
            SEQ_DELEVERY_PROBLEM_NO.NEXTVAL,
            #{deliveryProblem}
        )
    </insert>
    
     <insert id="reviewContent">
        SELECT 
	R.RATING,
	R.USER_CONTENT,
	R.IMG,
	S.NAME AS STORENAME,
	F.NAME AS FOODNAME
	FROM REVIEW_COMMUNICATION R
	JOIN STORE_INFOR S 
	ON R.NO = S.NO 
	JOIN FOOD_INFOR F 
	ON F.NO = R.NO
	WHERE R.DEL_YN = 'N'

    </insert>
    


</mapper>
