<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="memberSearchForStoreMapper">

	<resultMap type="com.kh.baemin.store.vo.StoreInforVo"
		id="storeInforMap">
		<id column="NO" property="no" />
		<result column="NAME" property="name" />
		<result column="ADDRESS" property="address" />
		<result column="ADDRESS_DETAIL" property="addressDetail" />
		<result column="BUSINESS_REGISTRATION_CERTIFICATE_IMG"
			property="businessRegistrationCertificateImg" />
		<result column="INTRODUCTION_IMG" property="introductionImg" />

		<result column="INTRODUCE" property="introduce" />
		<result column="MAIN_IMG" property="mainImg" />

		<result column="PHONE" property="phone" />
		<result column="MINIMUM_ORDER_AMOUNT"
			property="minimumOrderAmount" />
		<result column="VIEWED_CNT" property="viewedCnt" />
		<result column="OPEN_TIME" property="openTime" />
		<result column="END_TIME" property="endTime" />
		<result column="BREAK_TIME_START" property="breakTimeStart" />
		<result column="BREAK_TIME_END" property="breakTimeEnd" />
		<result column="STORE_OWNER_NO" property="storeOwnerNo" />
		<result column="STORE_CATEGORY_NO" property="storeCategoryNo" />
		<result column="APPROVAL_STATUS_NO" property="approvalStatusNo" />


		<result column="APPROVAL_STATUS_NO" property="approvalStatusNo" />
		<collection property="foodImgList" ofType="string"
			javaType="list">
			<result column="FOOD_IMG" />
		</collection>
	</resultMap>

	<select id="searchForStoreByBasic" resultMap="storeInforMap">
	<![CDATA[
	SELECT 
			R.NO
			,R.NAME
			,R.ADDRESS
			,R.ADDRESS_DETAIL
			,R.BUSINESS_REGISTRATION_CERTIFICATE_IMG
			,R.INTRODUCTION_IMG
			,R.INTRODUCE
			,R.MAIN_IMG
			,R.PHONE
			,R.MINIMUM_ORDER_AMOUNT
			,R.VIEWED_CNT
			,R.OPEN_TIME
			,R.END_TIME
			,R.BREAK_TIME_START
			,R.BREAK_TIME_END
			,R.STORE_OWNER_NO
			,R.STORE_CATEGORY_NO
			,R.APPROVAL_STATUS_NO
			,R.OPEN_YN
			,R.FOOD_IMG
			,R.RK
	FROM (
			SELECT 
					S.NO
					,S.NAME
					,S.ADDRESS
					,S.ADDRESS_DETAIL
					,S.BUSINESS_REGISTRATION_CERTIFICATE_IMG
					,S.INTRODUCTION_IMG
					,S.INTRODUCE
					,S.MAIN_IMG
					,S.PHONE
					,S.MINIMUM_ORDER_AMOUNT
					,S.VIEWED_CNT
					,S.OPEN_TIME
					,S.END_TIME
					,S.BREAK_TIME_START
					,S.BREAK_TIME_END
					,S.STORE_OWNER_NO
					,S.STORE_CATEGORY_NO
					,S.APPROVAL_STATUS_NO
					,S.OPEN_YN
					,F.FOOD_IMG
					,RANK() OVER (ORDER BY S.no,F.NO DESC)    AS  RK 
					FROM STORE_INFOR S 
					JOIN FOOD_INFOR F                  ON F.STORE_NO = S.NO
					LEFT JOIN CLOSED_DAY C             ON S.NO    =   C.STORE_NO
					JOIN STORE_DELIVERY_ZONE Z         ON S.NO  =   Z.STORE_NO
					JOIN LOCAL_NAME L                  ON Z.ZONE_NO  =   L.ZONE_NUMBER
					WHERE 
					S.STORE_CATEGORY_NO=#{storeCategoryNo}
					AND L.ADDRESS=#{memberAddress}
					AND S.APPROVAL_STATUS_NO='2'
					AND S.OPEN_YN='Y' 
					AND S.OPEN_TIME <TO_CHAR(SYSDATE, 'HH24MISS')
					AND S.END_TIME > TO_CHAR(SYSDATE, 'HH24MISS')
					  AND ( S.BREAK_TIME_START IS NULL OR S.BREAK_TIME_END IS NULL
            AND  TO_CHAR(SYSDATE, 'HH24MISS') NOT BETWEEN S.BREAK_TIME_START AND  S.BREAK_TIME_END )
              
            AND ( C.DAY IS NULL OR TRUNC(C.DAY) != TRUNC(SYSDATE))
        ) R
	WHERE RK<5
	
	]]>
	</select>




	<resultMap id="MemberViewStoreInforMap"
		type="com.kh.baemin.member.vo.MemberViewStoreInforVo">
		<id column="NO" property="no" />
		<result property="name" column="NAME" />
		<result property="address" column="ADDRESS" />
		<result property="addressDetail" column="ADDRESS_DETAIL" />
		<result property="introductionImg" column="INTRODUCTION_IMG" />
		<result property="introduce" column="INTRODUCE" />
		<result property="mainImg" column="MAIN_IMG" />
		<result property="phone" column="PHONE" />
		<result property="minimumOrderAmount"
			column="MINIMUM_ORDER_AMOUNT" />
		<result property="viewedCnt" column="VIEWED_CNT" />
		<result property="openTime" column="OPEN_TIME" />
		<result property="endTime" column="END_TIME" />
		<result property="breakTimeStart" column="BREAK_TIME_START" />
		<result property="breakTimeEnd" column="BREAK_TIME_END" />
		<collection property="closedayList"
			ofType="com.kh.baemin.member.vo.ClosedayVo">
			<result property="closeday" column="DAY" />
			<result property="closeComment" column="COMMENTS" />
		</collection>
	</resultMap>

	<select id="memberViewStoreInfor"
		resultMap="MemberViewStoreInforMap">
		SELECT
		s.NO,
		S.NAME,
		S.ADDRESS,
		S.ADDRESS_DETAIL,
		S.INTRODUCTION_IMG,
		S.INTRODUCE,
		S.MAIN_IMG,
		S.PHONE,
		S.MINIMUM_ORDER_AMOUNT,
		S.VIEWED_CNT,
		S.OPEN_TIME,
		S.END_TIME,
		S.BREAK_TIME_START,
		S.BREAK_TIME_END,
		C.DAY,
		C.COMMENTS
		FROM STORE_INFOR S
		LEFT JOIN CLOSED_DAY C ON S.NO = C.STORE_NO
		WHERE S.NO = #{value}

	</select>








	<resultMap id="StoreOfFoodCategoryMap"
		type="com.kh.baemin.member.vo.StoreOfFoodCategoryVo">

		<id column="CATEGORY_NO" property="no" />
		<result column="CATEGORY_NAME" property="name" />

		<collection property="foodInforVoList"
			ofType="com.kh.baemin.member.vo.FoodInforVo">
			<result property="no" column="NO" />
			<result property="name" column="NAME" />
			<result property="price" column="PRICE" />
			<result property="foodImg" column="FOOD_IMG" />
		</collection>
	</resultMap>



	<select id="memberViewStoreFoodMenu"
		resultMap="StoreOfFoodCategoryMap">

		SELECT
		C.NO AS CATEGORY_NO
		,C.NAME AS CATEGORY_NAME
		,F.NO
		,F.NAME
		,F.PRICE
		,F.FOOD_IMG
		FROM FOOD_MENU_CATEGORY C
		JOIN FOOD_INFOR F ON
		C.NO=F.FOOD_MENU_CATEGORY_NO
		WHERE C.STORE_NO=#{value} AND
		C.VIEW_YN='Y' AND C.DEL_YN='N' AND F.VIEW_YN='Y' AND F.DEL_YN='N'
		ORDER BY C.NO, F.NO

	</select>


	<select id="memberViewReview"
		resultType="com.kh.baemin.member.vo.OneStoreReviewVo">

     SELECT
		R.IMG
		,R.RATING
		,R.USER_CONTENT
		,R.STORE_CONTENT
		,R.ENROLL_DATE
        ,M.NICK 
        ,M.PROFILE
        ,N.PROFILE AS STOREOWNERPIC
			FROM REVIEW_COMMUNICATION R
			JOIN ORDER_SHEET O ON R.ORDER_NO=O.NO
	        JOIN STORE_INFOR S ON O.STORE_NO=S.NO
	        JOIN MEMBER_STORE_OWNER N ON N.NO=S.STORE_OWNER_NO
	        JOIN MEMBER_USER  M ON M.NO=O.USER_NO
		WHERE O.STORE_NO=#{value}
			AND O.STATUS_NO='6'
			AND R.DEL_YN='N';
        
	</select>


</mapper>